.wrap-top {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 0.5rem;
  padding: 1rem;
  height: 125px;
  .wrap-top__logo {
    img {
      vertical-align: bottom;
      max-width: 125px;
    }
  }
  .wrap-top__text {
    position: relative;
    justify-self: end;
    align-self: center;
    padding-right: 1rem;
    p {
      color: #eeda39;
      font-size: 8rem;
      margin-bottom: 0;
    }
  }
}