.main-container {
  .wrap-options-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
    margin: 0;
    justify-content: space-between;
    height: calc(100vh - 160px);
    overflow-y: auto;
    .item-menu {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: f;
      align-items: center;
      margin: 2rem 0;
    }
  }
}
