<section class="main-container">
  <div class="component-container">
    <header>
      <img src="assets/logo-pasteko.png" alt="pastekos" />
    </header>
    <article class="wrap-order" [ngClass]="{'wrap-active': showOrderNumber}">
      <p class="order__text">Tu número de pedido es</p>
      <div class="order__number">
        <h1 class="number">{{idPedido}}</h1>
      </div>
    </article>
    <article class="wrap-order" [ngClass]="{'wrap-active': !showOrderNumber}">
      <img class="order__img" src="assets/icons/reloj.png" alt="reloj" />
      <p class="order__text thanks">¡Gracias por tu compra!</p>
    </article>
  </div>
</section>
