.order__products--description {
  color: #FFF;
  margin-bottom: 1.5rem;
  .td {
    font-family: var(--font-light);
    font-size: 1.1em;
    align-self: center;
    text-transform: uppercase;
    &.description {
      display: flex;
      flex-direction: column;
      .description__ingredients {
        font-size: 0.75rem;
        text-transform: initial;
      }
    }
    // &:first-child {
    //   width: 80%;
    // }
  }
  .btn-delete {
    background-color: transparent;
    border: none;
    color: #FFF;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.grid-order {
  display: grid;
  grid-template-columns: 3fr 7fr 2fr 0.5fr;
  gap: 1rem;
}
