.order__products--description {
  color: #FFF;
  margin-bottom: 1.5rem;
  .td {
    font-family: var(--font-light);
    font-size: 1.1em;
    align-self: center;
    text-transform: uppercase;
    .paquete__count {
      text-align: center;
    }
    &.is-paquete {
      align-self: flex-start;
    }
    &.description {
      .paquete__name {
        margin-bottom: .5rem;
      }
      .wrap__paquetes {
        display: grid;
        grid-template-columns: 1fr 30px;
        align-items: center;
        gap: .5rem;
        margin-bottom: 1rem;
        .paquete__detail {
          text-transform: capitalize;
          font-size: 0.75rem;
          .paquete__title {
            margin: 0;
            color: var(--main-color);
          }
        }
      }
      .description__ingredients {
        font-size: 0.75rem;
        text-transform: capitalize;
        display: block;
      }
    }
  }
  .btn-delete {
    background-color: transparent;
    border: none;
    color: #FFF;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.grid-order {
  display: grid;
  // grid-template-columns: 3fr 7fr 2fr 0.5fr;
  grid-template-columns: 100px 240px 75px 35px;
  grid-template-columns: 20% 50% 15% 10%;
  gap: 1rem;
  &.is-resumen {
    grid-template-columns: 10% 60% 20%;
  }
}
