<div class="wrap-product">
  <p class="option__name" [ngClass]="{'opacity-product': noExistencias &&  !productItem.disponible && !isCombo}" >
    {{productItem?.descripcion | uppercase }}
  </p>
  <img
    (click)="(!noExistencias || productItem.disponible || isCombo) && showInfo(productItem)"
    class="open-detail"
    [ngClass]="{'opacity-product': noExistencias && !productItem.disponible && !isCombo}"
    src="assets/icons/info.png"
    alt="información" />

  <img
    class="option__img"
    [ngClass]="{'opacity-product': noExistencias  && !productItem.disponible && !isCombo}"
    [src]="imageToShow"
    alt="producto"
    *ngIf="!isImageLoading; else noImageFound">
  <ng-template #noImageFound>
    <img src="assets/icons/no-product.png" alt="no producto" class="option__img" />
  </ng-template>
  <span class="option__price" [ngClass]="{'opacity-product': noExistencias &&  !productItem.disponible && !isCombo}" >{{productItem?.precio | currency}}</span>
  <app-counter
    *ngIf="!isCombo"
    [stock]="productItem?.existencia"
    [disponible]="productItem.disponible"
    [canSelected]="canSelected"
    [formControl]="countProduct"
    class="option__count">
  </app-counter>
  <button
    *ngIf="isCombo"
    class="btn__combo"
    (click)="quieroElCombo(productItem.codigo)">
      Lo quiero
  </button>
  <div class="legend-no-product" *ngIf="noExistencias &&  productItem.disponible === false && !isCombo">Agotado</div>
</div>
