<div class="wrap-product">
  <p class="option__name" [ngClass]="{'opacity-product': noExistencias && !isCombo}" >
    {{productItem?.descripcion | uppercase }}
  </p>
  <img
    (click)="(!noExistencias || isCombo) && showInfo(productItem)"
    class="open-detail"
    [ngClass]="{'opacity-product': noExistencias && !isCombo}"
    src="assets/icons/info.png"
    alt="información" />
  <img
    class="option__img"
    [ngClass]="{'opacity-product': noExistencias && !isCombo}"
    [src]="getImage(productItem.imagen)"
    alt="paste" />
  <span class="option__price" [ngClass]="{'opacity-product': noExistencias && !isCombo}" >{{productItem?.precio | currency}}</span>
  <app-counter
    *ngIf="!isCombo"
    [stock]="productItem?.existencia"
    [canSelected]="canSelected"
    [formControl]="countProduct"
    class="option__count">
  </app-counter>
  <button
    *ngIf="isCombo"
    class="btn__combo"
    (click)="quieroElCombo(productItem.codigo)">
      Lo quiero
  </button>
  <div class="legend-no-product" *ngIf="noExistencias && !isCombo">Agotado</div>
</div>
