.wrap-product {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  .option__name {
    position: relative;
    color: #FFF;
    font-family: var(--font-light);
    font-size: 1rem;
    margin: 0;
    text-align: center;
    .open-detail {
      max-width: 20px;
      vertical-align: bottom;
      position: absolute;
      right: -20px;
      top: -2px;
    }
  }
  .option__img {
    max-width: 150px;
    vertical-align: bottom;
  }
  .option__price {
    color: #FFF;
    font-family: var(--font-bold);
    text-align: center;
    font-size: 1rem;
  }
  .legend-no-product {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: var(--third-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 3rem;
    border-radius: 32px;
    text-transform: uppercase;
    font-family: var(--font-medium);
  }
  .opacity-product {
    opacity: .4;
  }
}

