@font-face {
  font-family: Gotham;
  src: local("Gotham"),
  local("GothamBlack"),
  url('./../fonts/Gotham-Black.otf');
}

@font-face {
  font-family: ItcDemi;
  src: local("ItcDemi"),
  local("ITCKabelStd-Demi"),
  url('./../fonts/ITCKabelStd-Demi.otf');
}

@font-face {
  font-family: ItcUltra;
  src: local("ItcUltra"),
  local("ITCKabelStd-Ultra"),
  url('./../fonts/ITCKabelStd-Ultra.otf');
}

@font-face {
  font-family: ItcBold;
  src: local("ItcBold"),
  local("ITCKabelStd-Bold"),
  url('./../fonts/ITCKabelStd-Bold.otf');
}

