@font-face {
  font-family: ItcLight;
  src: local("ItcLight"),
  local("ItcLight"),
  url('./../fonts/itc-light.otf');
}

@font-face {
  font-family: ItcRegular;
  src: local("ItcRegular"),
  local("ItcRegular"),
  url('./../fonts/itc-regular.TTF');
}

@font-face {
  font-family: ItcMedium;
  src: local("ItcMedium"),
  local("ItcMedium"),
  url('./../fonts/itc-medium.otf');
}

@font-face {
  font-family: ItcBold;
  src: local("ItcBold"),
  local("ItcBold"),
  url('./../fonts/itc-bold.TTF');
}


@font-face {
  font-family: ItcUltraBold;
  src: local("ItcUltraBold"),
  local("ItcUltraBold"),
  url('./../fonts/itc-ultra-bold.TTF');
}
