<section class="main-container">
  <div class="component-container">
    <div class="order-container">
      <div class="order__logo">
        <img src="assets/logo-pasteko.png" alt="logo" />
      </div>
      <!-- container con info del detalle de la oden -->
      <div class="order__detail">
        <div class="detail__products">
          <p class="products__title">Detalle de la orden</p>
          <div class="products__scrollable">
            <app-product-order
            *ngFor="let product of productsOrder"
            (productSelected) = onGetProductSelected($event)
            (deleteProduct) = onGetProductSelected($event)
            [product]="product"
            >
            </app-product-order>
          </div>
          <div class="products__total">
            <p class="total__text">Total</p>
            <span class="total__amount">{{amount | currency}}</span>
          </div>
        </div>
        <div class="detail__pay">
          <div class="method__pay">
            <p class="method__text">Método de Pago</p>
            <div class="wrap__methods" [formGroup]="formMetodos">
              <p>Pago en efectivo<mat-checkbox formControlName="efectivo"></mat-checkbox></p>
              <p>Pago con tarjeta<mat-checkbox formControlName="tarjeta"></mat-checkbox></p>
            </div>
          </div>
          <div class="method__back">
            <p class="back__legend">¿Olvidas algo?</p>
            <button class="back__button btn-pasteko btn-secondary">Continuar comprando</button>
          </div>
          <div class="method__continue">
            <button class="btn-pasteko btn-primary button__continue" (click)="goOrderSummary()">Ordenar</button>
          </div>
        </div>
      </div>
      <!-- container con recomendaciones -->
      <div class="order__recommendations">
        <div class="recommendations__scrollable">
          <div class="wrap__recommendations">
            <app-product-recommendation></app-product-recommendation>
            <app-product-recommendation></app-product-recommendation>
            <app-product-recommendation></app-product-recommendation>
            <app-product-recommendation></app-product-recommendation>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="main-container">
  <app-header [title]="title"></app-header>
  <article class="wrap__main">
    <div class="wrap__order">
      <div class="order__products">
        <div class="order__products--title grid-order">
          <div class="tr">Cant</div>
          <div class="tr">Especialidad</div>
          <div class="tr">Total</div>
        </div>
        <div class="order__products--notfound" *ngIf="productsOrder.length === 0">
          <h1>No se han agregado productos al pedido.</h1>
        </div>
        <div class="order__products--detail">
          <app-product-order
            *ngFor="let product of productsOrder"
            (productSelected) = onGetProductSelected($event)
            (deleteProduct) = onGetProductSelected($event)
            [product]="product"
          >
          </app-product-order>
        </div>
      </div>
      <div class="order__detail" *ngIf="productsOrder.length > 0">
        <div class="detail__total">
          <p>Total <span>{{amount | currency}}</span></p>
        </div>
        <div class="detail__ordername">
          <div class="text">
            <p>Pedido a Nombre de:</p>
          </div>
          <input
          type="text"
          [ngClass]="{'error' : nameField?.invalid && nameField?.touched}"
          [formControl]="nameField"
          placeholder="Nombre" />
        </div>
        <div class="detail__email">
          <p>Ingresa tu correo para descuentos y cupones</p>
          <input
            type="email"
            [ngClass]="{'error' : emailField?.invalid && emailField?.touched}"
            [formControl] = "emailField"
            placeholder="Correo Electrónico" />
        </div>
        <div class="detail__phone">
          <p>Ingresa tu número celular</p>
          <input
            type="tel"
            [ngClass]="{'error' : phoneField?.invalid && phoneField?.touched}"
            [formControl] = "phoneField"
            placeholder="Teléfono" />
        </div>
      </div>
    </div>
  </article>
</section> -->
