<section class="main-container">
  <div class="component-container">
    <div class="order-container">
      <div class="order__logo">
        <img src="assets/logo-pasteko.png" alt="logo" />
      </div>
      <!-- container con info del detalle de la oden -->
      <div class="order__detail">
        <div class="detail__products">
          <p class="products__title">Detalle de la orden</p>
          <div class="products__scrollable" *ngIf="productsOrder.length > 0; else noProducts">
            <app-product-order
            *ngFor="let product of productsOrder"
            (productSelected) = onGetProductSelected($event)
            (deleteProduct) = onGetProductSelected($event)
            [product]="product"
            >
            </app-product-order>
          </div>
          <ng-template #noProducts>
            <div class="noproducts">
              No hay productos agregados a la orden
            </div>
          </ng-template>
          <div class="products__total">
            <p class="total__text">Total</p>
            <span class="total__amount">{{amount | currency}}</span>
          </div>
        </div>
        <div class="detail__pay">
          <div class="method__pay">
            <p class="method__text">Método de Pago</p>
            <div class="wrap__methods" [formGroup]="formMetodos">
              <p>Pago en efectivo<mat-checkbox formControlName="efectivo"></mat-checkbox></p>
              <p>Pago con tarjeta<mat-checkbox formControlName="tarjeta"></mat-checkbox></p>
            </div>
          </div>
          <div class="method__back">
            <p class="back__legend">¿Olvidas algo?</p>
            <button class="back__button btn-pasteko btn-secondary" (click)="goBack()">Continuar comprando</button>
          </div>
          <div class="method__continue">
            <button
              class="btn-pasteko btn-primary button__continue"
              [ngClass]="{'disabled': productsOrder.length === 0}"
              (click)="productsOrder.length > 0 && goOrderSummary()">
                Ordenar
            </button>
          </div>
        </div>
      </div>
      <!-- container con recomendaciones -->
      <div class="order__recommendations">
        <div class="recommendations__scrollable">
          <div class="wrap__recommendations">
            <app-product-recommendation></app-product-recommendation>
            <app-product-recommendation></app-product-recommendation>
            <app-product-recommendation></app-product-recommendation>
            <app-product-recommendation></app-product-recommendation>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
