<section class="main-container">
  <app-header [title]="title"></app-header>
  <article class="wrap__main">
    <div class="wrap__order">
      <div class="order__products">
        <div class="order__products--title grid-order">
          <div class="tr">Cant</div>
          <div class="tr">Especialidad</div>
          <div class="tr">Total</div>
        </div>
        <app-product-order
          *ngFor="let product of productsOrder"
          (productSelected) = onGetProductSelected($event)
          [product]="product"
        >
        </app-product-order>
      </div>
      <div class="order__detail">
        <div class="detail__total">
          <p>Total <span>$119.00</span></p>
        </div>
        <div class="detail__ordername">
          <div class="text">
            <p>Pedido a Nombre de:</p>
          </div>
          <input type="text" placeholder="Nombre" />
        </div>
        <div class="detail__email">
          <p>Ingresa tu correo para descuentos y cupones</p>
          <input type="email" placeholder="Correo Electrónico" />
        </div>
      </div>
    </div>
  </article>
</section>
