.main-container__home {
  position: relative;
  width: 100%;
  height: 100vh;
  &.background {
    background-image: url('./../../../../../../assets/backgrounds/portada.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 20vh;
      top: 0;
      background-blend-mode: multiply,multiply;
      background-image: linear-gradient(to top, rgb(0 0 0 / 2%) 20%, black 100%);
      z-index: -1;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 20vh;
      bottom: 0;
      background-blend-mode: multiply,multiply;
      background-image: linear-gradient(to bottom, rgb(0 0 0 / 2%) 20%, black 100%);
      z-index: -1;
    }
  }
  .logo {
    position: fixed;
    top: 1rem;
    left: 1rem;
    vertical-align: bottom;
    max-width: 275px;
  }
  .wrap-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 70%;
    display: grid;
    justify-content: right;
    font-family: var(--font-light);
    .info__text {
      color: #FFF;
      text-align: right;
      font-size: 1.1rem;
      letter-spacing: 1px;
      &.info__text--main {
        color: var(--third-color);
        font-size: 1.6rem;
      }
    }
    .button__home {
      width: 240px;
      justify-self: end;
      text-transform: uppercase;
    }
  }
}
