<section class="child-container">
  <app-view-products
    [category]="categoria"
    [products]="productsList"
    [subcategories]="subCategoriasList"
    (product)="onProductSelected($event)"
    (codigoCombo)="onComboSelected($event)"
    (infoProduct)="onInfoProductSelected($event)"
    (claveSubCat)="onChangeSubcategory($event)"
  >
  </app-view-products>
  <!-- <app-view-packages *ngIf="idCategoria === '18'"></app-view-packages> -->
  <!-- <app-avatar-help
    *ngIf="showAvatar"
    (reponsePack)="onResponseCreatePack($event)">
  </app-avatar-help> -->
</section>

