<footer class="wrap-footer">
  <a class="btn btn-primary" (click)="goBack()"><mat-icon aria-hidden="false">arrow_back</mat-icon></a>
  <a
    class="btn btn-primary"
    [ngClass]="{'empty': total === 0}"
    (click)="total > 0 && deleteSale()">
    <mat-icon aria-hidden="false">delete</mat-icon>
  </a>
  <a
    class="btn btn-primary"
    routerLink="/pedido">
    <mat-icon aria-hidden="false">shopping_cart</mat-icon>
    <div class="bullet design" *ngIf="total > 0">{{this.total}}</div>
  </a>
  <a
    class="btn btn-primary"
    [ngClass]="{'empty': total === 0 || !dataOrderValid}"
    (click)="(total > 0 && dataOrderValid) && saveOrder()">
    Solicitar Pedido
  </a>
</footer>
