.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 2rem;
  .wrap__btn {
    position: relative;
    .btn__text {
      color: #FFF;
      font-family: var(--font-light);
      font-size: 1.25rem;
      margin-right: .5rem;
    }
    .btn__icon {
      max-width: 25px;
      vertical-align: bottom;
      cursor: pointer;
      &.btn__icon--pay {
        max-width: 30px;
      }
    }
    .bullet {
      position: absolute;
      background-color: red;
      color: white;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -6px;
      left: 54%;
      transform: translate(-50%, 0px);
      border: 1px solid var(--main-color);
      font-size: 12px;
      padding: 1px;
      font-family: var(--font-light);
    }
  }
  .wrap__btn--pay {
    display: flex;
    align-items: center;
    .icon {
      position: relative;
    }
  }
}
