<footer class="footer">
  <div class="wrap__btn">
    <span class="btn__text">Limpiar</span>
    <img
      (click)="total > 0 && deleteSale()"
      [ngClass]="{'empty': total === 0}"
      class="btn__icon btn__icon--delete"
      src="assets/icons/trash.png"
      alt="eliminar" />
  </div>
  <div class="wrap__btn wrap__btn--pay">
    <span class="btn__text">Pagar</span>
    <div class="icon">
      <div class="bullet design" *ngIf="total > 0">{{this.total}}</div>
      <img
      (click)="total > 0 && continueSale()"
        class="btn__icon btn__icon--pay"
        src="assets/icons/car.png"
        alt="pagar" />
    </div>
  </div>
</footer>
