<div class="wrap-packages">
  <div class="package">
    <div class="package__content">
      <p class="package__content--name">Paqueteko 1</p>
      <div class="content">
        <div class="content__product">
          <p class="content__product--name">2 pastes</p>
          <span></span>
          <p class="content__product--description"></p>
        </div>
        <div class="content__product">
          <p class="content__product--name">1 agua fresca</p>
          <span>(16 oz.)</span>
          <p class="content__product--description"></p>
        </div>
        <div class="content__product">
          <p class="content__product--name">ó café americano</p>
          <span>(10 oz.)</span>
          <p class="content__product--description"></p>
        </div>
      </div>
    </div>
    <div class="package__amounts">
      <div class="amount__price">$45.00</div>
      <div class="amount__total">
        <app-counter></app-counter>
      </div>
    </div>
  </div>

  <div class="package">
    <div class="package__content">
      <p class="package__content--name">Paqueteko 2</p>
      <div class="content">
        <div class="content__product">
          <p class="content__product--name">2 pastes</p>
          <span></span>
          <p class="content__product--description"></p>
        </div>
        <div class="content__product">
          <p class="content__product--name">1 bebida caliente</p>
          <span>(10 oz.)</span>
          <p class="content__product--description">
            (moka, chocolate, chocomenta, late, capuchino, matcha, blueberry o té chai)
          </p>
        </div>
      </div>
    </div>
    <div class="package__amounts">
      <div class="amount__price">$52.00</div>
      <div class="amount__total">
        <app-counter></app-counter>
      </div>
    </div>
  </div>

  <div class="package">
    <div class="package__content">
      <p class="package__content--name">Paqueteko 3</p>
      <div class="content">
        <div class="content__product">
          <p class="content__product--name">6 pastes</p>
          <span></span>
          <p class="content__product--description"></p>
        </div>
        <div class="content__product">
          <p class="content__product--name">2 refrescos o jugos</p>
          <span>(400 ml.)</span>
          <p class="content__product--description">
          </p>
        </div>
      </div>
    </div>
    <div class="package__amounts">
      <div class="amount__price">$120.00</div>
      <div class="amount__total">
        <app-counter></app-counter>
      </div>
    </div>
  </div>

  <div class="package">
    <div class="package__content">
      <p class="package__content--name">Paqueteko 4</p>
      <div class="content">
        <div class="content__product">
          <p class="content__product--name">Caja con 12 pastes</p>
          <span></span>
          <p class="content__product--description"></p>
        </div>
      </div>
    </div>
    <div class="package__amounts">
      <div class="amount__price">$120.00</div>
      <div class="amount__total">
        <app-counter></app-counter>
      </div>
    </div>
  </div>

</div>
