<article class="view-products">
  <div class="section__products">

    <div
      class="products__tabs"
      [ngClass]="{
        'tab__bebs' : category === 'BEBIDAS'
      }"
      *ngIf="subCategoriesList.length">
      <div
        class="tab"
        *ngFor="let sub of subCategoriesList; let i = index"
        [ngClass]="{
          'active': i === tabActive,
          'inactive': i !== tabActive
        }">
        <span (click)="changeTab(i, sub?.clave)">{{sub?.nombre}}
        </span>
      </div>
      <div class="tab-help"></div>
    </div>
    <div class="products__tabs no-tabs" *ngIf="subCategoriesList.length === 0">
      <div class="tab">
        <span>{{category}}</span>
      </div>
      <div class="tab-help"></div>
    </div>
    <div class="products__container">
      <div class="wrap__products">
        <div class="grid">
          <app-product
          *ngFor="let product of productsList"
          (productSelected) = onGetProductSelected($event)
          (comboSelected) = onGetComboSelected($event)
          (infoProduct) = onGetInfoProduct($event)
          [product]="product">
        </app-product>
        </div>
      </div>
    </div>

  </div>
</article>
