<mat-dialog-content>
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms" [selectedIndex]="indexTab"  (focusChange)="getProductsCombo($event.index)">
    <mat-tab
      *ngFor="let sub of renderingStep.sub"
      title="{{sub.clave}}"
      label="{{sub.nombre}}">
      <div class="container__tab">
        <div class="grid__products" *ngIf="productsCombo.length > 0; else noProducts">
          <app-product-pack
          *ngFor="let product of productsCombo"
          [product]="product"
          [canSelected]="canSelected"
          (productSelected) = onGetProductSelected($event)
          (actionSelected) = onChangeCountTotal($event)
          ></app-product-pack>
        </div>
        <ng-template #noProducts>
          <div class="grid__noproducts" *ngIf="notFoundResults">
            <img src="assets/icons/not-found.png" alt="no se encontro">
            <span>No se encontraron resultados...</span>
          </div>
        </ng-template>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions  class="wrap-actions">
  <!-- mat-dialog-close="" -->
  <a
  (click)="cancelCombo()"
  *ngIf="renderingStep.step === 0"
  class="button__action" >
    <mat-icon class="button__action--icon">close</mat-icon>
    <span class="button__action--text">Cancelar</span>
  </a>
  <a
  (click)="changeStep(renderingStep.step - 1)"
  *ngIf="renderingStep.step !== 0"
  class="button__action" >
    <mat-icon class="button__action--icon">arrow_back</mat-icon>
    <span class="button__action--text">Regresar</span>
  </a>
  <div class="stepper__container">
    <div class="title__steps">Selecciona {{renderingStep.cantidad}} {{getType(renderingStep.categoria, renderingStep.cantidad)}}</div>
    <div class="subtitle__steps">{{renderingStep.cantidadSeleccionada}}  de {{renderingStep.cantidad}} seleccionado(s)</div>
    <div class="wrap__steps" [ngClass]="{ 'one__step': stepperList.length === 1}">
      <div class="step" *ngFor="let step of stepperList; let i = index">
        <div
        [ngClass]="{'inactive': renderingStep.step !== step.step}"
        class="bullet__step">
          {{i + 1}}
        </div>
        <div class="bullet__legend" [ngClass]="{'inactive': renderingStep.step !== step.step}">paso</div>
      </div>
    </div>
  </div>
  <a
    class="button__action"
    *ngIf="renderingStep.step + 1 !== stepperList.length"
    [ngClass]="{'inactive': canSelected}"
    (click)="!canSelected && changeStep(renderingStep.step + 1)"
  >
    <mat-icon class="button__action--icon">arrow_forward</mat-icon>
    <span class="button__action--text">Siguiente</span>
  </a>

  <a
    class="button__action"
    *ngIf="renderingStep.step + 1 === stepperList.length"
    [ngClass]="{'inactive': canSelected}"
    (click)="!canSelected && finishCombo()"
  >
    <mat-icon class="button__action--icon">done</mat-icon>
    <span class="button__action--text">Agregar</span>
  </a>
</mat-dialog-actions>
