<div class="wrap-product">
  <p class="option__name">
    {{product?.descripcion| uppercase }}
  </p>
  <!-- <img
    class="option__img"
    [src]="getImage(product.imagen)"
    alt="paste" /> -->
  <img
    class="option__img"
    [src]="imageToShow"
    alt="producto"
    *ngIf="!isImageLoading; else noImageFound">
  <ng-template #noImageFound>
    <img src="assets/icons/no-product.png" alt="no producto" class="option__img" />
  </ng-template>
    <app-counter
      [stock]="product?.existencia"
      [disponible]="product.disponible"
      [canSelected]="canSelected"
      [formControl]="countProduct"
      [type]="'combo'"
      class="option__count"
      [ngClass]="{'opacity-product': noExistencias && !product.disponible}" >
    </app-counter>
  <!-- <div class="legend-no-product" *ngIf="noExistencias && !isCombo">Agotado</div> -->
</div>
